/*

__pycache__/

!.gitignore
!README.md
!requirements.txt
!setup.py
!tox.ini

!.github/
!artifacts/
!contracts/
!briq_protocol/
!docs/
!tests/

!pyproject.toml

!Scarb.toml
!src
!src-old
!tests-old

!scripts/
scripts/*
!scripts/deploy.sh
!scripts/setup_katana.sh
!scripts/katana_account.json
!scripts/katana_signer.json
!scripts-old
