/*

__pycache__/

!.gitignore
!README.md
!requirements.txt
!setup.py
!tox.ini

!.github/
!artifacts/
!contracts/
!scripts/
!briq_protocol/
!docs/
!tests/

!pyproject.toml

!Makefile
!cairo
!.gitmodules
!Cargo.lock
!Cargo.toml
!src/
!contract_c1/
