/*

__pycache__/

!.gitignore
!README.md
!requirements.txt
!setup.py
!tox.ini

!.github/
!artifacts/
!contracts/
!scripts/
!briq_protocol/
!docs/
!tests/

!pyproject.toml

!Scarb.toml
!src
!src-old
!tests-old